.admin-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-sidebar{
display: flex;
flex-direction: column;
width: 30vw;
min-width: 300px;
height: auto;
justify-content:left;
align-items:center;
color: whitesmoke;
background-color: navy;
outline:solid silver
}

.user-disp-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    scroll-behavior: smooth;

}
.user-disp-box {
    flex: 0 1 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    background-color:  navy;
  }

.sidebar-input-container{
    flex-direction: column;
    justify-content: center;
    border: solid silver;
    height:30px;
    width: 200px;
    border-radius: 5px;


}

.sidebar-input-container2{
    flex-direction: column;
    justify-content: center;
    border: solid silver;
    height:30px;
    width: 300px;
    border-radius: 5px;
    margin: 10px;


}

.fill{
    display: flex;
    height: 100%;
    width: 100%;
}

.user-edit-box{
    border-radius: 8px;
    display: flex;
    height: 350px;

    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border:solid silver;
    background-color:navy;
    margin: auto;
}
.admin-picture-box{
    height:200px;
    width: auto;
}
.input-container{
    flex-direction: row;
    justify-content: center;
    border: solid silver;
    margin-top: 10px;
    height:30px;
    width: 300px;
}