.cb-info-row{
    height: 15%;
    width: 100%;
    display:flex;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    flex-direction: row;
    flex-grow: 1;
    color:whitesmoke;
    background-color:navy;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: none;
}

.cb-blog-row{
 height: 85%;
 width:100%;
 display:flex;
 flex-direction: column;
 font-family: cursive;
 color:navy;
 box-shadow: none;

}

.subject-box{
    /* border-radius: 8px; */
    display: flex;
    height: 200px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    /* outline: solid silver; */
    /* background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover; 
    background-repeat: no-repeat;  */
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color:white;
    margin: 10px;
    box-shadow: 10px 10px 10px grey;
    text-shadow: none;
}

.subject-box:hover{

box-shadow: 15px 15px 15px grey;

}
