.subject-header{
    height:10%;
    width:99%;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink:0 ;
    background-color: lightskyblue;
    align-content: center;
    align-items: center;
    flex-direction: column;
    outline: solid white;
    border-radius: 8px;
    margin:5px;
}

.subject-body{
    height:90%;
    width:99%;
    flex-grow: 1;
    flex-shrink:0;
    flex-direction: column;
}

.topic-info-col{
    height: 100%;
    width: 15%;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    /* background-color:silver; */
    border-radius: 8px;
    /* border:solid navy; */
    flex-shrink: 0;
}

.topic-blog-col{
    height:100%;
    width:85%;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    /* border:solid navy; */
    flex-shrink: 0;

}

.topic-box{
    border-radius: 8px;
    display: flex;
    height: 130px;
    width: 98%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color:navy;
    margin: 15px;
    box-shadow: 10px 10px 10px grey;
    flex-shrink: 0;
    background-color: white;
    outline: solid silver;
}

.topic-box:hover{
background-color: yellow;

box-shadow: 20px 20px 20px white;
margin-top: 50px;
margin-bottom: 50px;
height: 200px;
width:98%;


}

.topic-header{
    height:10%;
    width:99%;
    outline: solid silver;
    background-color: grey;
    border-radius: 5px;
    margin:5px;

}
.topic-body{
    height:85%;
    width:99;
    flex-grow: 1;
    outline: solid siver;
    flex-direction: column;
    flex-wrap: wrap;
    overflow:none;
    background-color: navy;
}
