body {
  margin: 0;
  height:100%;
  width:100%;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:not(head){
  display: flex;
}
.container{
  height:100%;
  width:100%;
}
.header {
  height: 17%;
  width:100%;
  background-color: white;
  color: navy;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .page {
  padding-top: 8%;
}

.page{
height:83%;
width:100%;

}

.scroll{
  scrollbar-gutter:stable;
  overflow-y: scroll;
  flex-wrap: wrap;
  overflow: none;

}


#root{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

@import url('./css/reusables/dimensions.css');
@import url('./css/reusables/flex.css');
@import url('./css/reusables/positions.css');
@import url('./css/reusables/textformat.css');