.home-content{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;

}

.welcome-box{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:navy;
    border:solid navy ;
    background-color: white;
    margin: auto;
    height: 30%;
    width: 50%;
    border-radius: 30px;
    
}
.message-col{
    display:flex;
    flex-direction: column;
    height:15%;
    width: 100%;
}
.body-row{
    display:flex;
    height:85%;
    width: 100%;
}
.header-link{
    border-radius: 3px;
    font-size: larger;
    background-color: darkslategray;
    color:white;
    margin:1px;
    /* border-width: 1px;
    border-style: solid;
    border-color: grey; */
    height:88%;
    width: 175px;
    justify-content: center;
    align-items: center;

}
.header-link:hover{
    cursor:pointer;
    background-color: white;
    color:navy;
    box-shadow: 0 12px 16px 0 white,0 17px 50px 0 grey;
    
    }

.header-main-row{
    display: flex;
    height:75%;
    width:100%;
}
.header-link-row{
    display: flex;
    height:25%;
    width:100%;
    align-items: center;
    align-content: center;
    background-color: darkslategray;
    text-align: center;
}