.small{
    font-size: 10px;
}
.medium{
    font-size: 20px;
}
.large{
    font-size: 30px;
}
.xl{
    font-size: 50px;
}
.xxl{
    font-size: 75px;
}
.white{
    color: white;
}
.navy{
    color:navy;
}

.input-box{
    border-radius: 3px;
    width: 100px;
    margin:3px;

}
.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: large;
    background-color: navy;
    color:white;
    margin:3px;
    justify-content: center;
    align-items: center;
}

.button2{
    border-radius: 8px;
    font-size: larger;
    background-color:silver;
    color:navy;
    margin:10px;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.button2:hover{

background-color: aqua;
box-shadow: 0 12px 16px 0 white,0 17px 50px 0 grey;

}

.thin-border{

    border: 5px;
    border-color: solid navy;
   
}

.new-message-box{
    border-radius: 8px;
    width: 800px;
    height: 700px;
    background-color: navy;
    margin:3px;
    flex-direction: column;
    outline: solid silver;

}

.message-subject{
width: 600px;
height:20px

}

.message-contents{
    width: 600px;
    height: 400px;

}
